@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

/* Tailwind content scanning */
@source '../views';
@source '../../../app/Livewire';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views';
@source '../../vendor/livewire/flux-pro/stubs';
@source '../../vendor/livewire/flux/stubs';

/* Custom variants */
@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
